<template>
    <div class="row">
        <h2 v-if="isNewScript">Создание скрипта</h2>
        <h2 v-if="!isNewScript">Редактирование скрипта</h2>
        <div class="col-md-12" v-if="script != null">
            <div class="form-group">
                <label for="name">Название</label>
                <input type="text"
                       class="form-control"
                       id="name"
                       placeholder="название скрипта"
                       v-model="script.Name" />
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea class="form-control"
                          id="description"
                          placeholder="описание"
                          v-model="script.Description" />
            </div>
            <div class="col-md-12">
                <routers :script="script" />
            </div>
            <div class="col-md-12">
                <users ref="users"
                       :script="script" />
            </div>
            <div class="btn btn-primary" @click="save">Сохранить</div>
            <div class="text-danger" v-if="error">{{error}}</div>
            <div class="alert-success" v-if="success">{{success}}</div>
        </div>        
    </div>    
</template>

<script>
    import { axiosInstance } from '../../../utils/http';
    import RoutersList  from './Routers/List';
    import Users from './Users';
    export default{
        components: {
            'routers': RoutersList,
            'users': Users
        },
        created: function(){
            let id = this.$route.params.id;
            if (id) {
                axiosInstance.get(`/api/Script/${id}`)
                    .then((response) => {                        
                        let data = response.data;
                        if (data.Success) {
                            this.script = data.Obj;
                        }
                        else {
                            this.error = data.Message;
                        }
                    });
            }
            else {
                axiosInstance.get(`/api/Standard/GetNewViewModel/Script`)
                    .then((response) => {                        
                        let data = response.data;
                        this.script = data;
                    });
            }
        },
        data: function(){
            return{
                script: null,
                error: null,
                success: null,
                users: null
            }
        },
        computed:{
            isNewScript: function(){
                return this.script && this.script.Id <= 0;
            }
        },
        methods: {
            save: function(){
                let self = this;
                this.error = null;
                this.success = null;
                axiosInstance.post(`/api/Script/`, this.script)
                    .then((response) => {
                        let data = response.data;
                        if(data.Success){
                            this.success = "скрипт успешно сохранен";
                            self.$router.push({ name: 'editScript', params: { id: data.Obj.Id } });
                            // self.script = data.Obj;
                        }
                        else{
                            console.log(data.Message);
                            this.error = "При сохранении скрипта произошла ошибка";
                        }
                    });
            },
        },        
    }
</script>

<style>

</style>
