<template>
    <div class="row">
        <h4>Права доступа</h4>
        <div>
            <label>Выбранные пользователи:</label>
            <span v-if="script.Users" v-for="user in script.Users" v-bind:key="user.Id">
                {{user.Nik}} <span v-if="user.Fio">({{user.Fio}})</span>;
            </span>
        </div>
        <label class="block">Выберите пользователей:</label>
        <div class="col-md-12" style='max-height: 300px; border: solid 1px; margin-bottom:10px;'>           
            <div class="form-check" v-for="user in users" v-bind:key="user.Id">
                <input type="checkbox" 
                        class="form-check-input" 
                        v-bind:id="user.Id" 
                        v-model="user.isChecked"
                        @change="selectUser(user)">
                <label class="form-check-label" v-bind:for="user.Id" style="font-weight:normal;">
                    {{user.Nik}} <span v-if="user.Fio">({{user.Fio}})</span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    import { axiosInstance } from '../../../utils/http';
    export default {
        props: ['script'],
        created: function(){
            if(!this.script.Users){
                this.script.Users = new Array();
            }
            this.getUsers();            
        },
        data: function(){
            return {
                users: null
            }
        },
        methods: {
            getUsers: function(){
                let self = this;
                axiosInstance.get('/api/User/?page=1&per_page=3000')
                    .then((response) => {
                        if(response.data.Success){
                            let users = response.data.Obj.data;
                            users.forEach((item) => item.isChecked = false);
                            if(self.script.Users){
                                users.forEach((user) => {
                                    self.script.Users.forEach((userScript) => {
                                        if(user.Id == userScript.Id){
                                            user.isChecked = true;
                                        }
                                    });
                                });
                            }
                            self.users = users;
                        }
                    })
                    .catch(err => console.log(err));
            },
            selectUser: function(user){
                if(!user)
                    return;                
                let indexOfUser = this.findIndexOfUser(this.script.Users, user.Id);
                if(user.isChecked){                    
                    if(indexOfUser == null){
                        this.script.Users.push(user);
                    }
                }
                else {
                    if(indexOfUser != null){
                        this.script.Users.splice(indexOfUser, 1);
                    }
                }
            },
            findIndexOfUser: function(userList, userId){
                for(let i = 0; i < userList.length; i++){
                    if(userList[i].Id === userId){
                        return i;
                    }
                }
                return null;
            }
        },
    }
</script>

<style>

</style>
