<template>
    <div class="row">
        <h2 v-if="!isCreateNewUser">Профиль пользователя</h2>
        <h2 v-if="isCreateNewUser">Создание нового пользователя</h2>
        <div class="col-md-12" v-if="user !== null">
            <div class="form-group">
                <label for="nik">Имя пользователя</label>
                <input type="text"
                       class="form-control"
                       id="nik"
                       placeholder="имя пользователя"
                       v-model="user.Nik">
            </div>
            <div class="form-group">
                <label for="phone">Норме телефона</label>
                <input type="text"
                       class="form-control"
                       id="phone"
                       placeholder="телефон"
                       v-model="user.Phone">
            </div>
            <div class="form-group">
                <label for="fio">ФИО пользователя</label>
                <input type="text"
                       class="form-control"
                       id="fio"
                       placeholder="ФИО"
                       v-model="user.Fio">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isAdmin" v-model="user.IsAdmin">
                <label class="form-check-label" for="isAdmin">Администратор</label>
            </div>
            <div class="btn btn-default" v-if="!isCreateNewUser && !isEditPassword" @click="editPassword">Изменить пароль</div>
            <div v-if="isEditPassword">
                <div class="form-group">
                    <label for="oldPassword">Старый пароль:</label>
                    <input type="password"
                           class="form-control"
                           id="oldPassword"
                           placeholder="пароль"
                           v-model="user.OldPassword">
                </div>
            </div>
            <div v-if="isCreateNewUser || isEditPassword">
                <div class="form-group">
                    <label for="newPassword">Пароль:</label>
                    <input type="password"
                           class="form-control"
                           id="newPassword"
                           placeholder="пароль"
                           v-model="user.NewPassword">
                </div>
                <div class="form-group">
                    <label for="NewPasswordConfirm">Повторите пароль:</label>
                    <input type="password"
                           class="form-control"
                           id="NewPasswordConfirm"
                           placeholder="повтор пароля"
                           v-model="user.NewPasswordConfirm">
                </div>
            </div>

            <div class="btn btn-primary" v-on:click="save">Сохранить</div>
            <div class="text-danger" v-if="error">{{error}}</div>
            <div class="alert-success" v-if="success">{{success}}</div>
        </div>
    </div>
</template>

<script src="./profile_script.js">
    
</script>

<style>

</style>
