<template>
    <div>
        <h2>Список пользователей</h2>
        <div class="btn btn-primary" @click="addUser">Создать пользователя</div>
        <grid :fields="fields"
              :loadUrl="loadUrl"
              :isVisiblDeleteBtn="true"
              v-on:edit-row="editRow"
              v-on:delete-row="deleteRow"
              v-on:load-error="loadDataError"></grid>
    </div>
</template>

<script>
    import Grid from '../grid';
    import {axiosInstance} from '../../utils/http';
    import { isDeepStrictEqual } from 'util';
    import { AUTH_LOGOUT } from '../../store/actions/auth'
    
    export default {
        components: {
            'grid': Grid,
        },
        data: function () {
            return {
               loadUrl: '/api/User/',
                fields: [
                    {
                        name: 'Id',
                        // title: 'Уникальный идентификатор'
                    },
                    {
                        name: 'Nik',
                        title: 'Имя пользователя'
                    },
                    {
                        name: 'IsAdminString',
                        title: 'Администратор'
                    },
                    '__slot:actions'
                ]
            }
        },
        methods: {
            editRow (rowData) {
                this.$router.push({ name: 'profile', params: { id: rowData.Id } });
            },
            deleteRow(vuetable, rowData) {
                let self = this;
                var isDelete = confirm("Вы действительно хотите удалить пользователя?");

                if (isDelete) {
                    axiosInstance.delete(`/api/user?id=${rowData.Id}`)
                        .then((response) => {                            
                            vuetable.refresh();
                        });
                }
            },
            addUser() {
                this.$router.push({ name: 'createProfile' });
            },
            loadDataError(vuetable, response){
                let self = this;
                if(response.response.status == 401){
                    self.$store.dispatch(AUTH_LOGOUT);
                }
            }
        }
    }
</script>

<style>

</style>