<template>
    <div class="row">
        <div class="col-md-12">
            <h2>Параметры</h2>
            <div class="form-group" v-if="settings" v-for="setting in settings" v-bind:key="setting.Id">
                <label>{{setting.Name}}</label>
                <input type="text"
                        class="form-control"
                        placeholder="значение настройки"
                        v-model="setting.Value">
            </div>
        </div>    
        <div class="col-md-12">
            <div class="btn btn-primary" @click="save">Сохранить</div>    
            <div class="text-danger" v-if="error">{{error}}</div>
            <div class="alert-success" v-if="success">{{success}}</div>
        </div>
    </div>
</template>

<script>
    import { axiosInstance } from '../../utils/http'; 
    export default {
        data: function () {
            return {
                settings: null,
                success: null,
                error: null      
            }
        },
        created: function () {
            axiosInstance.get('/api/Settings')
                .then((response) => {
                    let data = response.data;
                    if(data.Success){
                        this.settings = data.Obj;
                    }
                    else{
                        throw data.Message;
                    }
                })
                .catch(err => { alert(err); });
        }, 
        methods: {
            save: function(){
                let self = this;
                this.success = null;
                this.error = null;
                axiosInstance.post('/api/Settings', this.settings)
                    .then((response) => {
                       let data = response.data;
                       if(data.Success){
                           this.success = "Настройки успешно сохранены";
                       }
                       else{
                           throw data.Message;
                       }
                    })
                    .catch(err => { 
                        self.error = err;
                     });
            }
        }
    }
</script>

<style>

</style>
