<template>
    <div>
        <!-- <login></login> -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <router-link class="navbar-brand" to="/">Профиль</router-link>                     -->
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" v-if="isAuthenticated">
                        <li><router-link tag="a" to="/users">Пользователи</router-link></li>
                        <li><router-link tag="a" to="/sshList">Параметры ssh</router-link></li>
                        <li><router-link tag="a" to="/scriptList">Скрипты</router-link></li>
                        <li><router-link tag="a" to="/settings">Параметры</router-link></li>
                        <li><a href="#" v-on:click="logout">Выход</a></li>
                    </ul>
                    <ul class="nav navbar-nav" v-if="!isAuthenticated">
                        <li><router-link tag="a" to="/login">Вход</router-link></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>    
</template>

<script>
    import { mapGetters, mapState } from 'vuex'
    import { AUTH_LOGOUT } from '../../store/actions/auth'

    export default {
        name: 'navigation',
        methods: {
            logout: function(){
                this.$store.dispatch(AUTH_LOGOUT).then(
                    () => {
                        this.$router.push({ name: 'login' });
                    });
            }
        },
        computed:{
            ...mapGetters([
                'isAuthenticated', 
                'authStatus']),
            //...mapState({
            //    authLoading: state => this.$store.status === 'loading'
            //})
        }
    }
</script>

<style>
    .logout:hover  {
        cursor: pointer;        
    }
</style>
