<template>
  <div>
    <form class="login" @submit.prevent="login">
      <h2>Авторизация</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-check">
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text"
                       class="form-control"
                       id="login"
                       placeholder="логин"
                       v-model="username">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-check">
            <div class="form-group">
                <label for="password">Логин</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="пароль"
                       v-model="password">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Войти</button>
      <div class="text-danger" v-if="error">{{error}}</div>
    </form>
  </div>
</template>

<style>
  .login {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
  }
</style>

<script>
    import { AUTH_REQUEST } from '../../store/actions/auth'
    import { axiosInstance, setAuthHeader } from '../../utils/http';
  export default {
    name: 'login',
    data () {
      return {
        username: '',
        password: '',
        error: null
      }
    },
    methods: {
        login: function () {
          let self = this;
          self.error = null;
            const { username, password } = this;
        this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
              this.$router.push('/');
              setAuthHeader();
        }).catch((error) => {
            if(error && !error.Success){
              self.error = error.Message;
            }
        });
      }
    },
  }
</script>