<template>
    <div>
        <!-- <login></login> -->
        <navigation/>
        <!--<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-link class="navbar-brand" to="/">Профиль</router-link>                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><router-link tag="a" to="/users">Пользователи</router-link></li>
                    </ul>
                </div>
            </div>
        </nav>-->
        <!--<div class="container">
            <router-view></router-view>
        </div>-->
    </div>
</template>

<style>

</style>

<script>
    import login from './components/login';
    import navigation from './components/navigation';
    import { axiosInstance } from './utils/http';
    import store from './store';
    import { AUTH_LOGOUT } from './store/actions/auth';
    import router from './router';
    import axios from 'axios';
    //import 
    export default {
        components: {
            login,
            navigation
        },
        name: 'app',
        created: function () {
            function f_logout401(err) {
                let $store = store;
                let $router = router;
                if (err.response && err.response.status === 401) {
                    $store.dispatch(AUTH_LOGOUT)
                       .then(() => {
                           $router.push({ name: 'login' });
                       });
                }
            };
            axiosInstance.interceptors.response.use(undefined, f_logout401);
        }
    };
</script>