<template>
    <div class="row">
        <h2>Скрипты</h2>
        <div class="btn btn-primary" @click="add">Добавить скрипт</div>
        <grid :fields="fields"
              :loadUrl="loadUrl"
              :isVisiblDeleteBtn="true"
              v-on:edit-row="editRow"
              v-on:delete-row="deleteRow"></grid>
    </div>
</template>

<script>
    import Grid from '../grid';
    import {axiosInstance} from '../../utils/http';
    import { isDeepStrictEqual } from 'util';

    export default{
        components: {
            'grid': Grid
        },
        data: function(){
            return {
               loadUrl: '/api/Script/',
                fields: [
                    {
                        name: 'Id',
                    },
                    {
                        name: 'Name',
                        title: 'Название скрипта'
                    },
                    {
                        name: 'Description',
                        title: 'Описание'
                    },
                    '__slot:actions'
                ]
            }
        },
        methods: {
            editRow (rowData) {
                this.$router.push({ name: 'editScript', params: { id: rowData.Id } });
            },
            deleteRow(vuetable, rowData) {
                let self = this;
                var isDelete = confirm("Вы действительно хотите удалить скрипт?")
                if (isDelete) {
                    axiosInstance.delete(`/api/Script/${rowData.Id}`)
                        .then((response) => {                            
                            vuetable.refresh();
                        });
                }
            },
            add() {
                this.$router.push({ name: 'createScript' });
            },
        },
    }
</script>

<style>

</style>
