<template>
    <div class="row">
        <h4>Роутеры</h4>
        <div class="btn btn-primary" @click="addRouter">Добавить</div>
        <grid ref="vuetable"
                :fields="fields"
                :css="css.table"
                :api-mode="false"
                :data="script.Router" v-if="script.Router">
            <template slot="actions" scope="props">
                <div class="table-button-container">
                    <button class="btn btn-warning btn-sm" @click="editRow(props.rowData)">
                        <span class="glyphicon glyphicon-pencil"></span> Редактировать
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)">
                        <span class="glyphicon glyphicon-trash"></span> Удалить
                    </button>&nbsp;&nbsp;
                </div>
            </template>
        </grid>
        <edit-router
            ref="editRouter"
            v-on:add-router-save="addRouterSave"/>
    </div> 
</template>

<script src="./script.js">
    
</script>

<style>

</style>

