<!--https://vuejsexamples.com/data-table-simplify-datatable-component-for-vue-2-x/-->
<template>
    <div>
        <vuetable ref="vuetable"
                  :api-url="loadUrl"
                  :fields="fields"
                  :css="css.table"
                  pagination-path=""
                  :per-page="10"                  
                  @vuetable:pagination-data="onPaginationData"
                  @vuetable:loading="onLoading"
                  @vuetable:loaded="onLoaded"
                  @vuetable:load-error="onLoadError"
                  :http-options="httpOptions">
            <template slot="actions" scope="props">
                <div class="table-button-container">
                    <button class="btn btn-warning btn-sm" @click="editRow(props.rowData)">
                        <span class="glyphicon glyphicon-pencil"></span> Редактировать
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-danger btn-sm" v-if="isVisiblDeleteBtn" @click="deleteRow(props.rowData)">
                        <span class="glyphicon glyphicon-trash"></span> Удалить
                    </button>&nbsp;&nbsp;
                </div>
            </template>
        </vuetable>
        <div class="vuetable-pagination ui basic segment grid">
            <vuetable-pagination-info ref="paginationInfo"
                    info-template="Показаны {from} - {to} из {total} записей"
                    no-data-template="Нет данных для отображения"/>
            <vuetable-pagination ref="pagination" 
                    @vuetable-pagination:change-page="onChangePage"
                    :css="css.pagination" />
        </div>
    </div>
</template>

<script>
    import { Vuetable, VuetablePagination, VuetablePaginationInfo } from 'vuetable-2';
    import { AUTH_LOGOUT } from '../../store/actions/auth'

    export default {
        components: {
            'vuetable': Vuetable,
            'vuetable-pagination': VuetablePagination,
            'vuetable-pagination-info': VuetablePaginationInfo
        },
        computed: {
            httpOptions() {
                let token = this.$store.state.auth.token;
                return { headers: { 'Authorization': `Bearer ${token}` } }
            }
        },
        props: ['fields', 'loadUrl', 'isVisiblDeleteBtn'],
        data: function () {
            return {
                css: {
                    table: {
                        tableClass: 'table table-striped table-bordered table-hovered',
                        loadingClass: 'loading',
                        ascendingIcon: 'glyphicon glyphicon-chevron-up',
                        descendingIcon: 'glyphicon glyphicon-chevron-down',
                        handleIcon: 'glyphicon glyphicon-menu-hamburger',
                    },
                    pagination: {
                        infoClass: 'pull-left',
                        wrapperClass: 'vuetable-pagination pull-right',
                        activeClass: 'btn-primary',
                        disabledClass: 'disabled',
                        pageClass: 'btn btn-border',
                        linkClass: 'btn btn-border',
                        icons: {
                            first: '',
                            prev: '',
                            next: '',
                            last: '',
                        },
                    }
                }
            }
        },
        methods: {
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page)
            },
            editRow(rowData) {
                this.$emit('edit-row', rowData);                
            },
            deleteRow(rowData) {
                this.$emit('delete-row', this.$refs.vuetable, rowData);
            },
            onLoading() {

            },
            onLoaded() {

            },
            onLoadError(response){
                let self = this;
                if(response.response.status == 401){
                    this.$router.push({ name: 'login' });
                    if(response.response.status == 401){
                        self.$store.dispatch(AUTH_LOGOUT);
                    }
                }
                // this.$emit('load-error', this.$refs.vuetable, response);
            },
            transform(data){
                if(!data.Error){
                    return data.Obj;
                }
                else{
                    return null;
                }
            }
        }
    }
</script>

<style>
</style>