<template>
    <div class="row">
        <h2 v-if="!isNewConnection">Редактирование параметров соединения</h2>
        <h2 v-if="isNewConnection">Создание новых параметров соединения</h2>
        <div class="col-md-12" v-if="connection">
            <div class="form-group">
                <label for="host">Хост</label>
                <input type="text"
                       class="form-control"
                       id="host"
                       placeholder="ip-адрес или dns имя хоста"
                       v-model="connection.HostName">
            </div>
            <div class="form-group">
                <label for="port">Порт</label>
                <input type="number"
                       class="form-control"
                       id="port"
                       placeholder="порт"
                       max="65535"
                       min="1"
                       v-model="connection.Port">
            </div>
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="nik"
                       v-model="connection.Username">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="пароль"
                       v-model="connection.Password">
            </div>
            <div class="btn btn-primary" v-on:click="save">Сохранить</div>
            <div class="text-danger" v-if="error">{{error}}</div>
            <div class="alert-success" v-if="success">{{success}}</div>
        </div>
    </div>    
</template>

<script src="./edit_script.js">
    
</script>

<style>

</style>
