<template>
    <div>
        <h2>Параметры ssh-подключения к роутерам</h2>
        <div class="btn btn-primary" @click="addConnection">Создать</div>
        <grid :fields="fields"
              :loadUrl="loadUrl"
              :isVisiblDeleteBtn="true"
              v-on:edit-row="editRow"
              v-on:delete-row="deleteRow"></grid>
    </div>
</template>

<script>
    import Grid from '../grid';
    import {axiosInstance} from '../../utils/http';
    import { isDeepStrictEqual } from 'util';
    import { AUTH_LOGOUT } from '../../store/actions/auth'

    export default {
        components: {
            'grid': Grid,
        },
        data: function(){
            return {
               loadUrl: '/api/SshConnection/',
                fields: [
                    {
                        name: 'Id',
                    },
                    {
                        name: 'HostName',
                        title: 'IP адрес или dns хоста'
                    },
                    {
                        name: 'Port',
                        title: 'Порт'
                    },
                    {
                        name: 'Username',
                        title: 'Имя пользователя'
                    },
                    '__slot:actions'
                ]
            }
        },
        computed: {

        },
        methods: {
            editRow (rowData) {
                this.$router.push({ name: 'editSsh', params: { id: rowData.Id } });
            },
            deleteRow(vuetable, rowData) {
                let self = this;
                var isDelete = confirm("Вы действительно хотите удалить параметры ssh-соединения?");

                if (isDelete) {
                    axiosInstance.delete(`/api/SshConnection/?id=${rowData.Id}`)
                        .then((response) => {                            
                            vuetable.refresh();
                        });
                }
            },
            addConnection() {
                this.$router.push({ name: 'createSsh' });
            },
        },
    }
</script>

<style>

</style>
