<template>
    <div class="modal fade" id="routerEditDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span class="modal-title h4" id="exampleModalLongTitle">Создание / редактирование информации о роутере</span>
                </div>
                <div class="modal-body" v-if="router">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Название</label>
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="название роутера"
                                       v-model="router.Name" />
                            </div>
                            <div class="form-group">
                                <label>
                                    Параметры соединения ssh:                                     
                                </label>                                
                                <div v-if="router.SshConnection">{{router.SshConnection.HostName}}:{{router.SshConnection.Port}}</div>
                            </div>
                            <div class="btn btn-primary" v-if="router.SshConnection" @click="editSshConnection">
                                Изменить параметры соединения ssh
                            </div>
                            <div v-if="!router.SshConnection">
                                <h5><label>Выберите параметры ssh-соединения</label></h5>
                                <div style="border: solid 1px; padding:5px;">
                                    <div v-for="ssh in sshConnections" v-bind:key="ssh.Id" @click="checkSshConnection(ssh)"
                                        style="cursor: pointer;">
                                        <label style="cursor: pointer;" class="form-check-label" :class="isActiveConn(ssh)">{{ssh.HostName}}:{{ssh.Port}}</label>
                                    </div>
                                </div>
                            </div>
                            <h5><label>Введите команды для выполнения на роутере:</label></h5>
                            <div v-if="router.CommandToExecute" v-for="command in router.CommandToExecute" class="form-group row">                               
                                <div class="col-md-9">
                                    <input type="text"
                                        class="form-control form-control-custom"
                                        placeholder="команда"
                                        v-model="command.Value"/>                                            
                                </div>                                
                                <div type="button" 
                                        class="col-md-1 delete-record"
                                        @click="deleteCommand(command)">
                                    <span aria-hidden="true">&times;</span>
                                </div>
                            </div>
                            <div class="btn btn-primary" @click="addCommandToExecute"> 
                                Добавить команду
                            </div>
                            <div class="alert-warning" v-if="error && error != ''">
                                <span v-html="error"></span>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>   
</template>

<script src="./script.js">   

</script>

<style>

</style>
